.event_tile_container {
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
    rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  border-radius: 0.5rem;
  position: relative;
  width: 200px;
  height: 180px;
}
.tag_container {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  background-color: white;
}
img {
  border-radius: 0.5rem;
}
.title {
  padding: 0;
  margin: 0px;
  margin-bottom: 0.5rem;
}
